<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="center"> <h2>Edit User</h2>
    <form action="#" th:action="@{/edit}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <label for="lastName"> Last Name</label>
        <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
        <label for="age">Age</label>
        <input type="text" name="age" id="age" th:field="*{age}">

        <input type="submit" value="Add User"></form></div>
</body>
</html>